.big_image {
	width: 400px;
	max-height: auto;
}

.button_link {
	padding: 10px 15px;
	background: #4570BB;
	color: #FFF;
}

.testN {
	display: inline-table;
	width: 100px;
	margin-right: 15px;
	text-align: right;
}

.testTime {
	display: inline-table;
	width: 500px;
}